# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.2 CORRECT TEXT

### Problem Scenario 81 : 
You have been given MySQL DB with following details. You have been given following product.csv file product.csv 


productID,productCode,name,quantity,price

* 1001,PEN,Pen Red,5000,1.23
* 1002,PEN,Pen Blue,8000,1.25
* 1003,PEN,Pen Black,2000,1.25
* 1004,PEC,Pencil 2B,10000,0.48
* 1005,PEC,Pencil 2H,8000,0.49
* 1006,PEC,Pencil HB,0,9999.99

Now accomplish following activities.
1. Create a Hive ORC table using SparkSql
2. Load this data in Hive table.
3. Create a Hive parquet table using SparkSQL and load data in it.

#### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:

Solution :

Step 1 : Create this tile in HDFS under following directory (Without header}
/user/cloudera/he/exam/task1/productcsv

Step 2 : Now using Spark-shell read the file as RDD
// load the data into a new RDD
val products = sc.textFile("/user/cloudera/he/exam/task1/product.csv")
// Return the first element in this RDD
prod u cts.fi rst()

Step 3 : Now define the schema using a case class
case class Product(productid: Integer, code: String, name: String, quantity:lnteger, price:
Float)

Step 4 : create an RDD of Product objects
val prdRDD = products.map(_.split(",")).map(p =>
Product(p(0).tolnt,p(1),p(2),p(3}.tolnt,p(4}.toFloat))
prdRDD.first()
prdRDD.count()

Step 5 : Now create data frame val prdDF = prdRDD.toDF()

Step 6 : Now store data in hive warehouse directory. (However, table will not be created } import
org.apache.spark.sql.SaveMode
prdDF.write.mode(SaveMode.Overwrite).format("orc").saveAsTable("product_orc_table") 

step 7:
Now create table using data stored in warehouse directory. With the help of hive.
hive
show tables
CREATE EXTERNAL TABLE products (productid int,code string,name string .quantity int, price float}
STORED AS ore
LOCATION 7user/hive/warehouse/product_orc_table';

Step 8 : Now create a parquet table
import org.apache.spark.sql.SaveMode
prdDF.write.mode(SaveMode.Overwrite).format("parquet").saveAsTable("product_parquet_ table")

Step 9 : Now create table using this
CREATE EXTERNAL TABLE products_parquet (productid int,code string,name string
.quantity int, price float}
STORED AS parquet
LOCATION 7user/hive/warehouse/product_parquet_table';

Step 10 : Check data has been loaded or not.
Select * from products;
Select * from products_parquet;

## Step 1:
Create this tile in HDFS under following directory (Without header) /user/cloudera/he/exam/task1/productcsv

Linux console.

In [6]:
# go to local file path
cd /home/training/training_materials/data

# copy data products.csv to hadoop
hdfs dfs -put product.csv /user/cloudera/he/exam/task1/product.csv

## Step 2 : 
Now using Spark-shell read the file as RDD

In [8]:
// spark-shell
// load the data into a new RDD 
val products = sc.textFile("/user/cloudera/he/exam/task1/product.csv") 

// Return the first element in this RDD 
products.first()

In [9]:
# pyspark
# load the data into a new RDD 
products = sc.textFile("/user/cloudera/he/exam/task1/product.csv") 

# Return the first element in this RDD 
products.first()

## Step 3 : 
Now define the schema using a case class.

spark-shell

In [11]:
// spark-shell
case class Product( productid: Integer, code: String, name: String, quantity: Integer, price: Float )

In [12]:
# pyspark
Product = Row( 'productid', 'code', 'name', 'quantity', 'price' )

## Step 4 : 
create an RDD of Product objects 

spark-shell

In [14]:
val prdRDD = products
              .map( _.split(",") )
              .map( p => Product( p(0).toInt, p(1), p(2), p(3).toInt, p(4).toFloat) )
    
prdRDD.first() 
prdRDD.count()

In [15]:
#pyspark
prdRDD = products.map( lambda line: line.split( ',' ) ).map( lambda p: Product( *p ) )

##Step 5 : 
Now create data frame

In [17]:
 // spark-shell
  val prdDF = prdRDD.toDF()

In [18]:
#pyspark
prdDF = prdRDD.toDF()

## Step 6 : 
Now store data in hive warehouse directory. (However, table will not be created }

In [20]:
import org.apache.spark.sql.SaveMode 
prdDF.write.mode(SaveMode.Overwrite).format("orc").saveAsTable("product_orc_table")

## step 7:
Now create table using data stored in warehouse directory. With the help of hive.

hive console

In [22]:
hive

show tables;
CREATE EXTERNAL TABLE products ( productid int, code string, name string, quantity int, price float )
STORED AS orc 
LOCATION '/user/hive/warehouse/product_orc_table';

## Step 8 : 
Now create a parquet table.
spark-shell

In [24]:
import org.apache.spark.sql.SaveMode 
prdDF.write.mode( SaveMode.Overwrite ).format( "parquet" ).saveAsTable( "product_parquet_table" )

##Step 9 : 
Now create table using this 
hive console

In [26]:
CREATE EXTERNAL TABLE products_parquet (
  productid int,
  code string,
  name string,
  quantity int, 
  price float)
STORED AS parquet 
LOCATION '/user/hive/warehouse/product_parquet_table';

## Step 10 : 
Check data has been loaded or not. 
hive console

In [28]:
Select from products;

In [29]:
Select from products_parquet;