# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.5 CORRECT TEXT
### Problem Scenario 13 : 

You have been given following mysql database details as well as other info.

|attribute| value|
|-|-|
|user     | retail_dba |
|password | cloudera |
|database | retail_db |
|jdbc URL | jdbc:mysql://quickstart:3306/retail_db |

Please accomplish following.

1. Create a table in retailedb with following definition.
`
CREATE table departments_export (
department_id   int(11), 
department_name varchar(45),
created_date TIMESTAMP DEFAULT NOW() );`

2. Now import the data from following directory into **departments_export** table,
**/user/cloudera/departments_new**

#### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:
Solution :

Step 1 : Login to musql db
mysql --user=retail_dba -password=cloudera
show databases; use retail_db; show tables;

step 2 : Create a table as given in problem statement.
CREATE table departments_export (departmentjd int(11), department_name varchar(45),
created_date T1MESTAMP DEFAULT NOW()); show tables;

Step 3 : Export data from /user/cloudera/departmentsnew to new table departments_export sqoop
export -connect jdbc:mysql://quickstart:3306/retail_db \
-username retaildba \
--password cloudera \
--table departments_export \
-export-dir /user/cloudera/departments_new \
-batch

Step 4 : Now check the export is correctly done or not. mysql -user*retail_dba - password=cloudera
show databases; use retail _db;
show tables;
select' from departments_export;

#### Step 1 : 
Login to mysql db

In [6]:
mysql --user=retail_dba --password=cloudera

In [7]:
show databases; use retail_db; show tables;

#### step 2 : 
Create a table as given in problem statement.

In [9]:
CREATE TABLE departments_export ( 
  department_id   int(11), 
  department_name varchar(45), 
  created_date    TIMESTAMP DEFAULT NOW() );

#### Step 3 : 
Export data from **/user/cloudera/departmentsnew** to new table **departments_export**

In [11]:
sqoop export 
--connect    jdbc:mysql://quickstart:3306/retail_db \ 
--username   retaildba                              \ 
--password   cloudera                               \ 
--table      departments_export                     \ 
--export-dir /user/cloudera/departments_new         \  
--batch

In [12]:
# AAT.
sqoop export
--connect     jdbc:mysql://quickstart:3306/retail_db
--username    retail_dba
--password    cloudera
--table       departments_export
--export-dir  "/user/cloudera/departments_new"
--update-mode allow-insert

#### Step 4 : 
Now check the export is correctly done or not.

In [14]:
mysql -user*retail_dba - password=cloudera show databases;

In [15]:
use retail _db; show tables; select * from departments_export;