# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.10 CORRECT TEXT
### Problem Scenario 46 : 

You have been given below list in scala  `(name,sex,cost)` for each work done.

In [3]:
List( 
("Deeapak" , "male", 4000), 
("Deepak" , "male", 2000), 
("Deepika" , "female",2000),
("Deepak" , "female", 2000), 
("Deepak" , "male", 1000) , 
("Neeta" , "female", 2000))

Now write a Spark program to load this list as an RDD and do the sum of cost for combination of
name and sex (as key)

#### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:
Solution :

#### Step 1 : 
Create an RDD out of this list

In [8]:
val rdd = sc.parallelize(List( ("Deeapak" , "male", 4000), ("Deepak" , "male", 2000), ("Deepika" , "female", 2000),("Deepak" , "female", 2000), ("Deepak" , "male", 1000) , ("Neeta" , "female", 2000) ) )

#### Step 2 : 
Convert this RDD in pair RDD

In [10]:
val byKey = rdd.map( { case (name, sex, cost) => (name, sex) -> cost } )

#### Step 3 : 
Now group by Key

In [12]:
val byKeyGrouped = byKey.groupByKey

#### Step 4 : 
Nowsum the cost for each group

In [14]:
val result = byKeyGrouped.map(case ((id1,id2),values) => (id1,id2,values.sum) )

#### Step 5 : 
Save the results

In [16]:
result.repartition(1).saveAsTextFile("spark12/result.txt")

AAT. another way to do it

In [18]:
// AAT. This is another way to do it

val data = List( ("Deeapak" , "male", 4000), ("Deepak" , "male", 2000), ("Deepika" , "female",2000), ("Deepak" , "female", 2000), ("Deepak" , "male", 1000), ("Neeta" , "female", 2000))

// create rdd
val rdd = sc.parallelize( data )

// create key value pair rdd
val kv = rdd.map( t => ( ( t._1, t._2), t._3 ) )

// make sum
val result = kv.reduceByKey( ( a, b ) => a + b )

// save result
result.repartition(1).saveAsTextFile("spark12/result.txt")

end
---