# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.23 CORRECT TEXT
### Problem Scenario 6 : 

You have been given following mysql database details as well as other info.

| attribute | value |
|-|-|
| user              | retail_dba
| password          | cloudera
| database          | retail_db
| jdbc URL          | jdbc:mysql://quickstart:3306/retail_db
| Compression Codec | org.apache.hadoop.io.compress.SnappyCodec

Please accomplish following.

1. Import entire database such that it can be used as a hive tables, it must be created in default schema.
2. Also make sure each tables file is partitioned in 3 files e.g. part-00000, part-00002, part-00003
3. Store all the Java files in a directory called java_output to evalute the further

#### Answer

See the explanation for Step by Step Solution and configuration.
Explanation:
Solution :

Step 1 : 

Drop all the tables, which we have created in previous problems. Before implementing the
solution. 
Login to hive and execute following command.

In [6]:
show tables;
drop table categories;
drop table customers;
drop table departments;
drop table employee;
drop table ordeMtems;
drop table orders;
drop table products;
show tables;

Check warehouse directory. (linux console)

In [8]:
hdfs dfs -ls /user/hive/warehouse

Step 2 : Now we have cleaned database. Import entire retail db with all the required parameters as
problem statement is asking.

In [10]:

sqoop import-all-tables \
-m3\
-connect jdbc:mysql://quickstart:3306/retail_db \
--username=retail_dba \
-password=cloudera \
-hive-import \
--hive-overwrite \
-create-hive-table \
--compress \
--compression-codec org.apache.hadoop.io.compress.SnappyCodec \
--outdir java_output

Step 3 : Verify the work is accomplished or not.
a. Go to hive and check all the tables hive

In [12]:
show tables;
select count(1) from customers;

b. Check the-warehouse directory and number of partitions,

In [14]:
hdfs dfs -Is /user/hive/warehouse
hdfs dfs -Is /user/hive/warehouse/categories

c. Check the output Java directory.

In [16]:
ls -Itr java_output/

In [17]:
# AAT. import a complete mySQL database to a Hive database.  

sqoop import-all-tables
--connect jdbc:mysql://quickstart:3306/retail_db
--username=retail_dba 
--password=cloudera
-m3
--hive-import
--hive-overwrite
--hive-database retail_db
--compress
--compression-codec org.apache.hadoop.io.compress.SnappyCodec
--outdir java_output

In [18]:
sqoop import-all-tables --connect jdbc:mysql://quickstart:3306/retail_db --username=retail_dba --password=cloudera -m3 --hive-import --hive-overwrite --hive-database retail_db --compress --compression-codec org.apache.hadoop.io.compress.SnappyCodec --outdir java_output

end
---