# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.28 CORRECT TEXT
### Problem Scenario 22 : 
You have been given below comma separated employee information.

`name,salary,sex,age`

In [3]:
alok,100000,male,29
jatin,105000,male,32
yogesh,134000,male,39
ragini,112000,female,35
jyotsana,129000,female,39
valmiki,123000,male,29

Use the netcat service on port 44444, and nc above data line by line. 

Please do the following activities:
1. Create a flume conf file using `fastest channel`, which write data in hive warehouse directory, in a
table called `flumeemployee` (Create hive table as well tor given data).
2. Write a hive query to read average salary of all employees.

#### Answer

In [6]:
in a linux terminal, open hive

In [7]:
hive

create hive table

In [9]:
USE hadoopexam;

CREATE TABLE flumeemployee(
  name    STRING,
  salary  FLOAT,
  sex     STRING,
  age     INT
);

flume configuration file

/user/cloudera/flumeconf/p28.conf

In [11]:
a1.sources  = r1
a1.sinks    = k1 
a1.channels = c1

a1.sources.r1.type = netcat
a1.sources.r1.bind = localhost
a1.sources.r1.port = 44444

a1.sinks.k1.type                      = hive
a1.sinks.k1.hive.metastore            = thrift://127.0.0.1:9083
a1.sinks.k1.hive.database             = hadoopexam
a1.sinks.k1.hive.table                = flumeemployee
a1.sinks.k1.serializer                = DELIMITED
a1.sinks.k1.serializer.delimiter      = ","
a1.sinks.k1.serializer.serdeSeparator = ','
a1.sinks.k1.serializer.fieldnames     =name,salary,sex,age

a1.channels.c1.type                   = memory
a1.sources.r1.channel                 = c1
a1.sinks.k1.channel                   = c1

In [12]:
#Define source , sink , channel and agent,
agent1 .sources = source1
agent1 .sinks = sink1
agent1.channels = channel1

# Describe/configure source1
agent1.sources.source1.type = netcat
agent1.sources.source1.bind = 127.0.0.1
agent1.sources.source1.port = 44444

## Describe sink1
agent1 .sinks.sink1.channel = memory-channel
agent1.sinks.sink1.type = hdfs
agent1 .sinks.sink1.hdfs.path = /user/hive/warehouse/flumeemployee
hdfs-agent.sinks.hdfs-write.hdfs.writeFormat=Text
agent1 .sinks.sink1.hdfs.tileType = Data Stream

# Now we need to define channel1 property.
agent1.channels.channel1.type = memory
agent1.channels.channel1.capacity = 1000
agent1.channels.channel1.transactionCapacity = 100

# Bind the source and sink to the channel
Agent1 .sources.sourcel.channels = channell 
agent1 .sinks.sinkl.channel = channel1




Step 3 : Run below command which will use this configuration file and append data in hdfs.
Start flume service:
flume-ng agent -conf /home/cloudera/flumeconf -conf-file
/home/cloudera/flumeconf/flume2.conf --name agent1
Step 4 : Open another terminal and use the netcat service.
nc localhost 44444
Step 5 : Enter data line by line.
alok,100000.male,29
jatin,105000,male,32
yogesh,134000,male,39
ragini,112000,female,35
jyotsana,129000,female,39
valmiki,123000,male,29
Step 6 : Open hue and check the data is available in hive table or not.
step 7 : Stop flume service by pressing ctrl+c
Step 8 : Calculate average salary on hive table using below query. You can use either hive command
line tool or hue. select avg(salary) from flumeemployee;

start flume

In [14]:
flume-ng agent --conf conf --conf-file p28.conf --name a1 -Dflume.root.logger=INFO,console

in another linux terminal. 
load nc

In [16]:
nc

send the data, line by line

hive query for average salary

In [19]:
SELECT AVG( salary ) FROM flumeemployee