# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.36 CORRECT TEXT
### Problem Scenario 24 : 
You have been given below comma separated employee information.
Data Set:

In [3]:
name,salary,sex,age
alok,100000,male,29
jatin,105000,male,32
yogesh,134000,male,39
ragini,112000,female,35
jyotsana,129000,female,39
valmiki,123000,male,29

Requirements:

Use the `netcat` service on port 44444, and nc above data line by line. 

Please do the following activities.

1. Create a flume conf file using fastest channel, which write data in hive warehouse directory, in a
table called `flumemaleemployee` (Create hive table as well tor given data).
2. While importing, make sure only male employee data is stored.

#### Answer

In [6]:
See the explanation for Step by Step Solution and configuration.
Explanation:
Step 1 : Create hive table for flumeemployee.'
CREATE TABLE flumemaleemployee
(
name string,
salary int,
sex string,
age int
)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ',';

step 2 : Create flume configuration file, with below configuration for source, sink and channel and
save it in flume4.conf.

#Define source , sink, channel and agent.
agent1 .sources = source1
agent1 .sinks = sink1
agent1 .channels = channel1
# Describe/configure source1
agent1 .sources.source1.type = netcat
agent1 .sources.source1.bind = 127.0.0.1
agent1.sources.sourcel.port = 44444
#Define interceptors
agent1.sources.source1.interceptors=il
agent1 .sources.source1.interceptors.i1.type=regex_filter
agent1 .sources.source1.interceptors.i1.regex=female
agent1 .sources.source1.interceptors.i1.excludeEvents=true
## Describe sink1
agent1 .sinks, sinkl.channel = memory-channel
agent1.sinks.sink1.type = hdfs
agent1 .sinks, sinkl. hdfs. path = /user/hive/warehouse/flumemaleemployee hdfs-agent.sinks.hdfswrite.
hdfs.writeFormat=Text agentl .sinks.sink1.hdfs.fileType = Data Stream
# Now we need to define channel1 property.
agent1.channels.channel1.type = memory
agent1.channels.channell.capacity = 1000
agent1.channels.channel1.transactionCapacity = 100
# Bind the source and sink to the channel

agent1 .sources.source1.channels = channel1
agent1 .sinks.sink1.channel = channel1

step 3 : Run below command which will use this configuration file and append data in hdfs.
Start flume service:
flume-ng agent -conf /home/cloudera/flumeconf -conf-file
/home/cloudera/flumeconf/flume4.conf --name agentl

Step 4 : Open another terminal and use the netcat service, 
nc localhost 44444

Step 5 : Enter data line by line.
alok,100000,male,29
jatin,105000,male,32
yogesh,134000,male,39
ragini,112000,female,35
jyotsana,129000,female,39
valmiki.123000.male.29

Step 6 : Open hue and check the data is available in hive table or not.

Step 7 : Stop flume service by pressing ctrl+c

Step 8 : Calculate average salary on hive table using below query. You can use either hive command
line tool or hue. select avg(salary) from flumeemployee;

#### Step 1 : 
Create hive table for `flumeemployee`

In [8]:
CREATE TABLE flumeemployee(
  name   STRING,
  salary INT,
  sex    STRING,
  age    INT
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ',';

#### step 2 : 
Create flume configuration file, with below configuration for source, sink and channel and save it in  p36.conf

In [10]:
a1.sources  = r1
a1.sinks    = k1
a1.channels = c1

#sources
a1.sources.r1.type = netcat
a1.sources.r1.bind = 127.0.0.1
a1.sources.r1.port = 44444

#Define interceptors
a1.sources.r1.interceptors                 = i1
a1.sources.r1.interceptors.i1.type         = regex_filter
a1.sources.r1.interceptors.i1.regex        = female
a1.sources.r1.interceptors.i1.excludeEvents= true

## Describe sink1
a1.sinks.k1.type                   = hdfs
a1.sinks.k1.hdfs.path              = /user/hive/warehouse/flumemaleemployee 
a1.sinks.k1.hdfs.writeFormat       = Text 
a1.sinks.k1.hdfs.fileType          = DataStream

# Now we need to define channel1 property.
a1.channels.c1.type                = memory
a1.channels.1.capacity             = 1000
a1.channels.c1.transactionCapacity = 100

# Bind the source and sink to the channel
a1.sources.r1.channels             = c1
a1.sinks.k1.channel                = c1

#### step 3 : 
Run below command which will use this configuration file and append data in hdfs.
Start flume service:

In [12]:
flume-ng agent
--conf /home/cloudera/flumeconf 
--conf-file /home/cloudera/flumeconf/p36.conf 
--name a1

In [13]:
flume-ng agent --conf /home/cloudera/flumeconf --conf-file /home/cloudera/flumeconf/p36.conf --name a1

#### Step 4 : 
Open another terminal and use the netcat service

In [15]:
nc localhost 44444

#### Step 5 : 
Enter data line by line.

In [17]:
alok,100000,male,29
jatin,105000,male,32
yogesh,134000,male,39
ragini,112000,female,35
jyotsana,129000,female,39
valmiki,123000,male,29

Step 6 : Open hue and check the data is available in hive table or not.

In [19]:
SELECT *
FROM flumeemployee;

#### Step 7 : 
Stop flume service by pressing ctrl+c

#### Step 8 : 
Calculate average salary on hive table using below query. You can use either hive command line tool or hue.

In [22]:
select avg(salary) from flumeemployee;