# CCA175 Practice Exam
* Exam    : CCA175
* Title   : CCA Spark and Hadoop Developer Exam
* Vendor  : Cloudera
* Version : V12.35

IT Certification Guaranteed, The Easy Way!

## NO.37 CORRECT TEXT
### Problem Scenario 16 : 
You have been given following mysql database details as well as other info.

user=retail_dba
password=cloudera
database=retail_db
jdbc URL = jdbc:mysql://quickstart:3306/retail_db

Please accomplish below assignment.

1 . Create a table in hive as below.

In [4]:
create table departments_hive(department_id int, department_name string);

2 . Now import data from mysql table `departments` to this hive table. Please make sure that data
should be visible using below hive command,

In [6]:
select * from departments_hive;

#### Answer

#### Step 1 : 
Create hive table as said.

In [9]:
create table departments_hive(department_id int, department_name string);

#### Step 2 : 
The important here is, when we create a table without delimiter fields. Then default delimiter for hive is ^A (\001). Hence, while importing data we have to provide proper delimiter.

In [11]:
sqoop import
--connect jdbc:mysql://quickstart:3306/retail_db
--username=retail_dba
--password=cloudera
--table departments
--hive-home  /user/hive/warehouse
--hive-import
--hive-overwrite
--hive-table departments_hive
--fields-terminated-by '\001'

#### Step 3 : 
Check-the data in directory.

In [13]:
hdfs dfs -ls  /user/hive/warehouse/departments_hive
hdfs dfs -cat /user/hive/warehouse/departmentshive/part'

Check data in hive table.

In [15]:
Select * from departments_hive;

end
--